body {
    height: 100vh;
    cursor: default;
}

#board {
    border: 2px solid black;
    width: 600px;
    aspect-ratio: 1/1;
    margin: 2px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.defaultCell { 
    background-color: aquamarine;
    opacity: 0;
    flex: 1 1 0;
}